body {
  background-image: url("../food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height 100%;
}

h1 {color: white;
text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

#recipe-header {
  color: #262626;
}

div.content {
  text-align: center;
  background-color: white ;
  height: 700px;
  width: 65% ;
  margin-left: 18%;
  margin-top: 1.5em;
  border-radius: 50px;
  color: #262626;
  font-size: 1em;
  overflow: scroll;
}

/* fixed navigation bar at the top of the page */
.navbar {
  position: fixed;
  width: 15%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

/* links in navigation bar */
.navbar a {
  font-size: 1em;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  color: black;
}

/* create an active/current navigation link to show where user is at the moment */
#active {
  color: white;
  background-color:#006600;
}

/* changes when hover mouse */
.navbar a:hover {
  color: white;
  background-color: #696969;
}

/* ingredients list */
li.ingredients {
  list-style-type: none;
  text-decoration: none;
  float: left;
  overflow: hidden;
  padding: 10px;
  border-right: 1px solid #262626;
}

#lastitem {
  border-right: none;
}

ul {
  margin: 0;
  padding: 5px;
  overflow: hidden;
  justify-content: space-evenly;
  display: flex;
}
.recipe {
text-align: left;
overflow: hidden;
}

ol {
  list-style-type: 1;
  color: inherit;
}
.recipe_items {
  overflow: hidden;
  list-style-type: decimal;
  color: black;
}
/* adds a footer at the end of the page */
footer {
  bottom: 0;
  background-color: black;
  height: 100px;
  width: 100%;
  margin: auto;
  display: block;
}

img {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  width: 380px;
}
