body {
  background-image: url("../food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {color: white;
text-align: center;}

div {
  background-color: white ;
  height: 700px;
  width: 65% ;
  margin:auto;
  border-radius: 50px;
}

.footer {
  background-color: black;
  height: 100px;
  width: 100%;
  border-radius: 0px
}
